nav li a {
  text-decoration: none;
  padding:10px;
  color:aqua;
  text-size:23px;
}
nav {
  text-align: center;
  background-color: inherit;
  margin-top: 7%;
}
nav li {
  display: inline;
  color:inherit;
}
h1, h2 {
  text-align: center;
  text-emphasis-style: circle;
  color:white;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/home/moringaschool/Documents/moringa-school-projects/landing_portfolio/images/background-website-design-6.jpg");
}
