nav li a {
  padding:25px;
  color: lightgreen;
  text-size:23px;
  text-decoration: none;
}
nav {
  text-align: center;
  background-color: inherit;
  margin-top: 0%;
  margin-bottom: 10%;
  font-size: 19px;
  text-decoration: none;
}
nav li {
  display: inline;
}
h1, h2 {
  text-align: center;
  text-emphasis-style: circle;
  color:white;
  }
  a:hover {
    color: white;
  }
.main {
  padding-top: 4%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/home/moringaschool/Documents/moringa-school-projects/landing_portfolio/images/background-website-design-6.jpg");
}
header {
  width:100%;
  height: 80px;
  background-image:url(/home/moringaschool/Documents/moringa-school-projects/landing_portfolio/images/greencode.jpg);
}
.cent {
  padding-top: 7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image2 {
  border-radius: 50%;
}
.cola {
display: flex;
box-sizing: border-box;
padding: 10%;
text-align: center;
margin-top: -20px;
background-color: #ccc;
}
.column {
  flex: 33%;
  border: 5px solid lightgrey;
  padding: 10px;
}
a {
  text-decoration: none;
}
gallery {
  border: 3px solid #ccc;
  float: left;
  margin: 5px;
}
.two {
  padding: 10px;
  taxt-align: center;
}
